@import url('https://fonts.googleapis.com/css?family=Roboto:400i&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(71, 71, 71);
    color: white;
}

.header {
    background-color: rgb(33, 32, 36);
    height: 200px;
    margin: auto;
    padding-top: 30px;
    position: relative;
}

.body {
    max-width: 800px;
    margin: auto;

}

.cntnt {
    text-align: center;
}

table {
    border-collapse: collapse;
    text-align: left;
    margin: 25px;
}

td,
th {
    border: 1px solid grey;
    margin: 0px;
    font-size: 26px;
    padding: 8px;
}

tbody>tr:nth-child(2n + 1) {
    background-color: lightgrey;
}

.base {
    max-width: 100%;
    margin: auto;
}

.dtop {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 50px;

    align-content: flex-end;
}

.topic {
    align-items: flex-end;
    margin: auto;
    color: white;
    font-size: 36px;
}

.hlinksch {
    padding: 0 15 0 15px;
    margin: 10px;
    border: 2px solid rgb(33, 32, 36);
    border-radius: 30px;
    text-decoration: none;
    font-size: 25px;
    color: white;
}

.hlinksch1 {
    background-color: rgba(245, 95, 49, 0.925);
    border: 2px solid rgb(33, 32, 36);
    border-radius: 30px;
    padding: 0 15 0 15px;
    margin: 10px;
    text-decoration: none;
    font-size: 25px;
    color: white;

}

.colorline {
    height: 15px;
    width: 100%;
    background: rgba(32, 32, 36, 0.99);
    background: -moz-linear-gradient(left, rgba(32, 32, 36, 0.99) 0%, rgba(32, 32, 36, 0.99) 12%, rgba(245, 95, 49, 1) 50%, rgba(71, 71, 71, 1) 87%, rgba(71, 71, 71, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(32, 32, 36, 0.99)), color-stop(12%, rgba(32, 32, 36, 0.99)), color-stop(50%, rgba(245, 95, 49, 1)), color-stop(87%, rgba(71, 71, 71, 1)), color-stop(100%, rgba(71, 71, 71, 1)));
    background: -webkit-linear-gradient(left, rgba(32, 32, 36, 0.99) 0%, rgba(32, 32, 36, 0.99) 12%, rgba(245, 95, 49, 1) 50%, rgba(71, 71, 71, 1) 87%, rgba(71, 71, 71, 1) 100%);
    background: -o-linear-gradient(left, rgba(32, 32, 36, 0.99) 0%, rgba(32, 32, 36, 0.99) 12%, rgba(245, 95, 49, 1) 50%, rgba(71, 71, 71, 1) 87%, rgba(71, 71, 71, 1) 100%);
    background: -ms-linear-gradient(left, rgba(32, 32, 36, 0.99) 0%, rgba(32, 32, 36, 0.99) 12%, rgba(245, 95, 49, 1) 50%, rgba(71, 71, 71, 1) 87%, rgba(71, 71, 71, 1) 100%);
    background: linear-gradient(to right, rgba(32, 32, 36, 0.99) 0%, rgba(32, 32, 36, 0.99) 12%, rgba(245, 95, 49, 1) 50%, rgba(71, 71, 71, 1) 87%, rgba(71, 71, 71, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#202024', endColorstr='#474747', GradientType=1);
    position: absolute;
    top: 185;
    left: 0;
    right: 0;
}

.hlinks {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 800px;
    margin: auto;
}

.footer {
    background-color: rgb(33, 32, 36);
    height: 120px;
    width: 100%;
    position: relative;
}

.colorline2 {
    height: 15px;
    width: 100%;
    background: rgba(71, 71, 71, 1);
    background: -moz-linear-gradient(left, rgba(71, 71, 71, 1) 0%, rgba(71, 71, 71, 1) 13%, rgba(245, 95, 49, 1) 50%, rgba(32, 32, 36, 0.99) 88%, rgba(32, 32, 36, 0.99) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(71, 71, 71, 1)), color-stop(13%, rgba(71, 71, 71, 1)), color-stop(50%, rgba(245, 95, 49, 1)), color-stop(88%, rgba(32, 32, 36, 0.99)), color-stop(100%, rgba(32, 32, 36, 0.99)));
    background: -webkit-linear-gradient(left, rgba(71, 71, 71, 1) 0%, rgba(71, 71, 71, 1) 13%, rgba(245, 95, 49, 1) 50%, rgba(32, 32, 36, 0.99) 88%, rgba(32, 32, 36, 0.99) 100%);
    background: -o-linear-gradient(left, rgba(71, 71, 71, 1) 0%, rgba(71, 71, 71, 1) 13%, rgba(245, 95, 49, 1) 50%, rgba(32, 32, 36, 0.99) 88%, rgba(32, 32, 36, 0.99) 100%);
    background: -ms-linear-gradient(left, rgba(71, 71, 71, 1) 0%, rgba(71, 71, 71, 1) 13%, rgba(245, 95, 49, 1) 50%, rgba(32, 32, 36, 0.99) 88%, rgba(32, 32, 36, 0.99) 100%);
    background: linear-gradient(to right, rgba(71, 71, 71, 1) 0%, rgba(71, 71, 71, 1) 13%, rgba(245, 95, 49, 1) 50%, rgba(32, 32, 36, 0.99) 88%, rgba(32, 32, 36, 0.99) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#474747', endColorstr='#202024', GradientType=1);
    position: absolute;
    bottom: 120;
}

.footer.one {
    position: absolute;
    bottom: 0;
}

.fc2 {
    position: absolute;
    bottom: 10;
    left: 10;
}

.list-cont {
    width: 200px;
    margin: auto;

}

.disclaimer {
    font-size: 6px;
}

.form-cont {
    width: 350px;
    margin: auto;
}

.form {
    text-align: left;
}

input {
    padding: 10px;
    margin: 5px;
    margin-left: 15px;

}

select {
    padding: 10px;
    margin: 5px;
    margin-left: 10px;
}

label {
    margin: 5px;
}

.fb-logo {
    width: 32px;
    height: 32px;
}

.btn-submit {
    padding: 10px;
    margin: 5px;
    margin-left: 10px;
}

li>a {
    text-decoration-color: white;
    color: white;
}