* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.header {
    background-color: teal;
    height: 200px;
    margin: auto;
    padding-top: 30px;
}

.body {
    max-width: 800px;
    margin: auto;

}

.cntnt {
    text-align: center;
}

table {
    border-collapse: collapse;
    text-align: left;
}

td,
th {
    border: 1px solid grey;
    margin: 0px;
    font-size: 26px;
    padding: 8px;
}

tbody>tr:nth-child(2n + 1) {
    background-color: lightgrey;
}

.base {
    max-width: 1200px;
    margin: auto;
}

.dtop {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 50px;

    align-content: flex-end;
}

.topic {
    align-items: flex-end;
    margin: auto;
    color: white;
}

.hlinksch {
    padding: 0 15 0 15px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 30px;
    text-decoration: none;
    font-size: 25px;
    color: white;
}

.hlinksch1 {
    background-color: orange;
    border: 2px solid white;
    border-radius: 30px;
    padding: 0 15 0 15px;
    margin: 10px;
    text-decoration: none;
    font-size: 25px;
    color: white;

}

.hlinks {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 800px;
    margin: auto;
}

.footer {
    background-color: darkgrey;
    height: 200px;
}

.fc {
    text-align: center;
}

.list-cont {
    width: 200px;
    margin: auto;

}

.disclaimer {
    font-size: 6px;
}

.form-cont {
    width: 350px;
    margin: auto;
}

.form {
    text-align: left;
}

input,
label {
    padding: 10px;
}